@import url(styles/common.css);

/* Header styles */
#layout {
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-background-image: url(images/background.png);
}

/* Auth pane styles */
#layout > #authPane > #password.hasSaved {
    -fx-prompt-text-fill: white;
}

#layout > #authPane > #profiles > .arrow-button {
    -fx-padding: 0;
}

#layout > #authPane > #profiles > .arrow-button > .arrow {
    -fx-padding: 0;
    -fx-shape: none;
}

#layout > #authPane > #profiles > .list-cell {
    -fx-padding: 5px 5px 5px 8px;
}

#layout > #authPane > #goLogo,
#layout > #headerPane > #goSettings,
#layout > #headerPane > #goHide,
#layout > #headerPane > #goClose {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

#layout > #authPane > #goLogo {
    -fx-graphic: url(images/logo.png);
}

#layout > #headerPane > #goSettings {
    -fx-graphic: url(images/panel/settings.png);
}

#layout > #headerPane > #goHide {
    -fx-graphic: url(images/panel/hide.png);
}

#layout > #headerPane > #goClose {
    -fx-graphic: url(images/panel/close.png);
}

/* Overlay styles */
#layout > #dim {
    -fx-opacity: 0.0;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

#layout > #dim > #overlay {
    -fx-opacity: 0.0;
    -fx-background-color: rgba(255, 255, 255, 1);
}
