.text-input,
.check-box > .box,
.combo-box-base,
.combo-box-popup > .list-view {
    -fx-background-color: rgba(98, 98, 98, 0.75) white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.text-input:focused,
.check-box:hover > .box,
.check-box:focused > .box,
.combo-box-base:hover,
.combo-box-base:focused,
.combo-box-base:showing {
    -fx-text-fill: white;
    -fx-background-color: rgba(98, 98, 98, 0.75) white;
}

/* Combobox-specific */
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: rgba(98, 98, 98, 0.75);
    -fx-text-fill: white;
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(98, 98, 98, 0.75);
}
